/*Defaults*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    font-family: 'Inter', sans-serif;
    font-size: 62.5%; 
}
body{
    background: var(--light-primary-color); 
}

/*Roots*/
:root{
    --primary-color: #0a3871;
    --darker-primary-color: #062d5c;
    --secondary-color: #b4b4b4;
    --darker-brown: #3a3632;
    --light-primary-color: #f3f5fc;
}

/*Header*/
header{
    padding: 40px 84px;
}
#logo{
    width: 31px;
    height: 48px;
}

/*Main*/
.hide{
    display: none;
}
/*Words Container*/
.words__container{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Buttons Container*/
.bg-btn, .sm-btn{
    display: block;
}





/*Footer*/
.footer__container{
    text-align: center;
    color: var(--darker-brown);
    padding: 3em;
}
.footer__container-socials{
    margin-top: 1em;
}
.footer__icon{
    text-decoration: none;
    color: var(--darker-primary-color);
    padding: 5px;
}
.footer__icon:visited{
    color: var(--darker-primary-color);
}

#pizarra_ahorcado{
    margin-left: 25%;
    background: transparent;
}
#inputWord{
    width: 300px;
	height: 35px;
    background: transparent;
    font-family: 'Arial';
    font-size: 1em;
    text-align: center;
    border: 1px solid #0A3871;
	margin-bottom: 10px;
    margin-left: 33.3%;
}

p{
    position: relative;
    text-align: center;
    padding: 15px;
    color: #0A3871;
    font-size: 20px; 
}

.bg-btn{
    background: var(--primary-color);
    color: white;
    width: 319px;
    height: 110px;
    border: none;
    border-radius: 24px;
    color: #D8DFE8;
    cursor: pointer;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 38px;
    transition: ease-in-out 0.2s;
}
.bg-btn:hover{
    background-color: var(--darker-primary-color);
    color: #fff;
}

.sm-btn{
    width: 288px;
    height: 67px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 24px;
    cursor: pointer;
    background: #D8DFE8;
    margin: 0 auto;
    font-size: 16px;
    transition: ease-in-out 0.2s;
}
.sm-btn:hover{
    background-color: var(--light-primary-color);
}