/*Header*/
#icon{
    width: 2%;
    margin-left: 2%;
    margin-top: 2%;
}

/*Main Menu*/
#menu__container{
    width: 100%;
    margin-top: 12%;
}
main#menu__container {
    width: 100%;
    display: block ;
}
#start{
    margin: 10px auto;
    color: white;
    display: block;
    width: 350px;
    padding: 35px 70px;
    font-size: 25px;
}
#start:hover{
    transform: scale(1.1);
}
#addWord{
    color: #0A3871;
    background-color: white;
    display: block;
    width: 350px;
    padding: 15px 70px;
    font-size: 20px;
    margin: 10px auto;
}
#addWord:hover{
    transform: scale(1.1);
}
.buttons{
    color: white;
    font-size: large;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #0A3871;
    border-radius: 22px;
    text-align: center;
    background-color: #0A3871;
    padding-left: 10%;
    padding-right: 10%;
    transition: ease-in-out 0.2s;
}

/*Activate Game*/
#activateGame__container{
    display: none;
}
#message{
    position: absolute;
    top: 30%;
    right: 30%;
    float: right;
    text-align: center;
    width: 10%;
    font-size: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #0A3871;
}
#secretWord{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}
#secretWord div{
    border-bottom: #0A3871 2px solid;
    margin: 10px 10px 20px;
    width: 50px;
}
#wrongText{
    width: 90%;
    height: 32px;
    border: none;
    resize: none;
    overflow: hidden;
    font-size: 30px;
}
.text{
    text-align: center;
    resize: none;
    font-size: 60px;
    height: 70px;
    letter-spacing: 60px;
}

/*AddWord Menu*/
#addWordMenu__container{
    text-align: center;
    display: none;
    width: 80%;
    margin: 8% auto;
}
#addWordMenu__container #text{
    border: none;
    outline: none;
    resize: none;
    font-size: 30px;
    text-align: center;
}
#left{
    margin-left: 20px;
    padding: 10px 80px;
    box-sizing: border-box; 
    margin-right: 20px;
}
#left:hover{
    transform: scale(1.1);
}
#right{
    margin-right: 20px;
    margin-left: 20px;
    color: #0A3871;
    background-color: white;
    padding: 10px 120px;
    box-sizing: border-box;
}
#right:hover{
    transform: scale(1.1);
}
#exclamation{
    text-align: left;
    margin-left: 230px;
}
textarea{
    font-family: 'Inter', sans-serif;
}
div{
    text-align: center;
}
.validText{
    width: 100;
    display: inline-block;
    color: #0A3871;
    text-align: center;
    font-size: 60px;
    margin: 10px;
}

/*Footer*/
.footer__container{
    text-align: center;
    color: #0A3871;
    padding: 3em;
}
.footer__container-socials{
    margin-top: 1em;
}
.footer__icon{
    text-decoration: none;
    color: #0A3871;
    padding: 5px;
}
.footer__icon:visited{
    color: #0A3871;
}